@charset "UTF-8";
/**
 * sherlock221b
 * rem常用设计函数
 */
/**
 * sherlock221b
 * 动画部分常用
 */
.bg-default {
  background-image: url("../resources/bg-default.jpg");
  height: inherit;
  background-size: cover; }

.chrysanthemum-img {
  background-image: url("../resources/chrysanthemum.png");
  background-size: 114px 99px;
  width: 114px;
  height: 99px; }

.chrysanthemum-front-img {
  background-image: url("../resources/chrysanthemum-front.png");
  background-size: 81px 81.5px;
  width: 81px;
  height: 81.5px; }

.rect-img {
  background-image: url("../resources/tran-body.png");
  background-size: 85.5px 77.5px;
  width: 85.5px;
  height: 77.5px; }

.font-base {
  background-image: url("../resources/font-base.png");
  background-size: 211.5px 238px;
  width: 211.5px;
  height: 238px; }

.font-base-01 {
  background-image: url("../resources/font-base-01.png");
  background-size: 192px 125px;
  width: 192px;
  height: 125px; }

.font-base-02 {
  background-image: url("../resources/font-base-02.png");
  background-size: 202px 151px;
  width: 202px;
  height: 151px; }

.point-wen {
  background-image: url("../resources/font-base-01.png");
  background-size: 58.5px 82px;
  width: 58.5px;
  height: 82px; }

.main-img {
  background-image: url("../resources/main.png");
  background-size: 989.5px 1135.5px; }

.circle-img {
  background-image: url("../resources/circle.png");
  background-size: 1000px 775px; }

.wrap-ring-img {
  background-position: -627.5px -172px;
  width: 302px;
  height: 302px; }

.wrap-ring-opacity-img {
  background-position: -627.5px -474px;
  width: 301px;
  height: 301px; }

.middle-ring-white-img {
  background-position: -23.5px -474px;
  width: 301px;
  height: 301px; }

.middle-ring-red-img {
  background-position: -325.5px -474px;
  width: 301px;
  height: 301px; }

.inner-ring-img {
  background-position: -325.5px -172px;
  width: 302px;
  height: 302px; }

.meteor-img {
  background-position: -300px -578.5px;
  width: 144.5px;
  height: 86.5px; }

.quantong-font {
  background-position: 0 0;
  width: 235px;
  height: 137px; }

.baishi-font {
  background-position: 0 -137px;
  width: 224.5px;
  height: 68px; }

.hudong-font {
  background-position: 0 -205px;
  width: 253.5px;
  height: 57px; }

.xinshou-font {
  background-position: 0 -262px;
  width: 224.5px;
  height: 95px; }

.iphone-puzzle-img {
  background-position: 0 -578.5px;
  width: 235px;
  height: 340.5px; }

.puzzle-img {
  background-position: 0 -930px;
  width: 137.5px;
  height: 122px; }

.circle-point-img {
  background-position: 0 -1104.5px;
  width: 29.5px;
  height: 29.5px; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #89b6cf; }

.container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

h6, h5, h4, h3, h2, h1 {
  margin: 0;
  top: 0;
  font-weight: normal; }

.hide {
  display: none; }

.block {
  display: block; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: 14px; }

a {
  outline: none; }

.scene, .layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.indexLayer, .secondLayer, .thirdLayer, .fourLayer, .fiveLayer, .sixLayer, .sevenLayer {
  position: relative;
  height: inherit; }

.arrow-list {
  height: inherit; }
  .arrow-list img {
    position: absolute; }
  .arrow-list .l1_img {
    left: -70px;
    top: 0; }
  .arrow-list .l2_img {
    left: -96px;
    top: 16.5px; }
  .arrow-list .l3_img {
    top: 133px;
    left: -67px; }
  .arrow-list .l4_img {
    top: 200.5px;
    left: -72px; }
  .arrow-list .l5_img {
    top: 238.5px;
    left: -71px; }
  .arrow-list .l6_img {
    bottom: 0px;
    left: -30px; }
  .arrow-list .r1_img {
    top: 96.5px;
    right: -120px; }
  .arrow-list .r2_img {
    top: 156px;
    right: -106px; }
  .arrow-list .r3_img {
    bottom: 64px;
    right: -139px; }
  .arrow-list .r4_img {
    bottom: 53px;
    right: -115px; }
  .arrow-list .r5_img {
    bottom: 38px;
    right: -30px; }

.font-center {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.chrysanthemum-front {
  position: absolute;
  top: 7%;
  left: -56px; }

.chrysanthemum {
  position: absolute;
  bottom: 20%;
  right: -58px; }

.circle-layer {
  position: absolute;
  bottom: 18%;
  left: 0; }

.circle-blue {
  position: relative; }

.circle-red {
  position: absolute;
  top: 7px;
  left: 9px; }

.rect-img {
  position: absolute;
  right: -40px;
  top: 20px; }

.secondLayer .big-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;
  height: 310px;
  margin-left: -155px;
  margin-top: -155px; }
.secondLayer .wrap-ring {
  position: absolute;
  bottom: 1px;
  left: 0; }
.secondLayer .wrap-ring-opacity {
  position: absolute;
  bottom: 5px;
  left: 0px; }
.secondLayer .middle-ring-white {
  position: absolute;
  left: 0px;
  bottom: 7px; }
.secondLayer .middle-ring-red {
  position: absolute;
  left: 1px;
  bottom: 7px; }
.secondLayer .inner-ring {
  position: absolute;
  left: 1px;
  bottom: 7px; }
.secondLayer .quantong {
  left: 43px;
  top: 83px;
  position: absolute; }
.secondLayer .meteor-01 {
  position: absolute; }
.secondLayer .meteor-02 {
  position: absolute;
  bottom: -5%; }

.thirdLayer .xinshou {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -112.5px; }
.thirdLayer .ip-puzzle {
  position: absolute;
  bottom: 0px;
  left: 0; }
.thirdLayer .puzzle {
  position: absolute;
  top: 0;
  right: -94px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg); }
.thirdLayer .puzzle-layer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -117.5px;
  width: 235px;
  height: 340.5px; }
.thirdLayer .point-01 {
  position: absolute;
  right: 20px;
  top: 19px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 0, 360deg); } }
.sevenLayer .title-style {
  color: #c6effc;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 28px; }
.sevenLayer .f7 {
  width: 255.5px; }
.sevenLayer .f7-01 {
  background-position: -253.5px 0;
  height: 26px; }
.sevenLayer .f7-02 {
  background-position: -253.5px -26px;
  height: 26px; }
.sevenLayer .f7-03 {
  background-position: -253.5px -51.5px;
  height: 17.5px; }
.sevenLayer .f7-04 {
  background-position: -253.5px -69px;
  height: 19px; }
.sevenLayer .f7-05 {
  background-position: -253.5px -88px;
  height: 33px; }
.sevenLayer .f7-06 {
  background-position: -253.5px -121px;
  height: 35px; }
.sevenLayer .f7-07 {
  background-position: -253.5px -156px;
  height: 49px; }
.sevenLayer .job-req {
  background-position: -253.5px -205px;
  width: 256px;
  height: 77.5px;
  margin-top: 39px;
  margin-bottom: 31.5px; }
.sevenLayer .light-button-bg {
  background-position: -553.5px 0;
  width: 278px;
  height: 51.5px;
  line-height: 51.5px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden; }
.sevenLayer .light-mover {
  background-position: -553.5px -52px;
  width: 68.5px;
  height: 51px;
  position: absolute;
  right: 0;
  top: 0; }
.sevenLayer .team-info {
  background-position: -259.5px -371px;
  width: 204.5px;
  height: 25px;
  position: fixed;
  right: 0;
  top: 0; }

.answerLayer {
  padding-top: 17px;
  padding-left: 21px;
  padding-right: 21px; }
  .answerLayer .answer-num {
    background: #ff5f32;
    color: #000;
    font-size: 14px;
    padding: 7px 21px;
    margin-top: 28px;
    margin-bottom: 24px; }
  .answerLayer .answer-title {
    border: 1px dashed;
    padding: 15px 17.5px;
    line-height: 20px; }
  @media screen and (min-height: 500px) {
    .answerLayer .answer-title {
      height: 140px; } }
  .answerLayer .select-active {
    width: 65px;
    height: 38.5px;
    background-position: -259.5px -395.5px;
    position: absolute;
    left: 14px;
    top: -13px;
    display: none; }
  .answerLayer .answer-select {
    clear: both;
    overflow: hidden;
    margin-top: 15px; }
    .answerLayer .answer-select li {
      width: 50%;
      float: left;
      position: relative;
      margin: 15px 0; }
      .answerLayer .answer-select li.active .select-active {
        display: inline-block; }
      .answerLayer .answer-select li:nth-child(even) a {
        padding-left: 5px; }
      .answerLayer .answer-select li a {
        color: inherit;
        display: block;
        font-size: 15px; }
  .answerLayer .answer-bottom .bg-bottom {
    background-position: -667.5px -205px;
    width: 322.5px;
    height: 161px;
    position: absolute;
    bottom: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }

.meteor-01 {
  -webkit-animation: metro 2s ease-in 0s infinite both;
  -ms-animation: metro 2s ease-in 0s infinite both;
  -moz-animation: metro 2s ease-in 0s infinite both;
  -o-animation: metro 2s ease-in 0s infinite both;
  animation: metro 2s ease-in 0s infinite both; }

@-webkit-keyframes metro {
  0% {
    -webkit-transform: translate3d(-72.25px, 90.25px, 0);
    transform: translate3d(-72.25px, 90.25px, 0);
    -moz-transform: translate3d(-72.25px, 90.25px, 0);
    -ms-transform: translate3d(-72.25px, 90.25px, 0); }
  100% {
    -webkit-transform: translate3d(146.75px, -43.25px, 0);
    transform: translate3d(146.75px, -43.25px, 0);
    -moz-transform: translate3d(146.75px, -43.25px, 0);
    -ms-transform: translate3d(146.75px, -43.25px, 0); } }
@-moz-keyframes metro {
  0% {
    -webkit-transform: translate3d(-72.25px, 90.25px, 0);
    transform: translate3d(-72.25px, 90.25px, 0);
    -moz-transform: translate3d(-72.25px, 90.25px, 0);
    -ms-transform: translate3d(-72.25px, 90.25px, 0); }
  100% {
    -webkit-transform: translate3d(146.75px, -43.25px, 0);
    transform: translate3d(146.75px, -43.25px, 0);
    -moz-transform: translate3d(146.75px, -43.25px, 0);
    -ms-transform: translate3d(146.75px, -43.25px, 0); } }
@-o-keyframes metro {
  0% {
    -webkit-transform: translate3d(-72.25px, 90.25px, 0);
    transform: translate3d(-72.25px, 90.25px, 0);
    -moz-transform: translate3d(-72.25px, 90.25px, 0);
    -ms-transform: translate3d(-72.25px, 90.25px, 0); }
  100% {
    -webkit-transform: translate3d(146.75px, -43.25px, 0);
    transform: translate3d(146.75px, -43.25px, 0);
    -moz-transform: translate3d(146.75px, -43.25px, 0);
    -ms-transform: translate3d(146.75px, -43.25px, 0); } }
@-ms-keyframes metro {
  0% {
    -webkit-transform: translate3d(-72.25px, 90.25px, 0);
    transform: translate3d(-72.25px, 90.25px, 0);
    -moz-transform: translate3d(-72.25px, 90.25px, 0);
    -ms-transform: translate3d(-72.25px, 90.25px, 0); }
  100% {
    -webkit-transform: translate3d(146.75px, -43.25px, 0);
    transform: translate3d(146.75px, -43.25px, 0);
    -moz-transform: translate3d(146.75px, -43.25px, 0);
    -ms-transform: translate3d(146.75px, -43.25px, 0); } }
@keyframes metro {
  0% {
    -webkit-transform: translate3d(-72.25px, 90.25px, 0);
    transform: translate3d(-72.25px, 90.25px, 0);
    -moz-transform: translate3d(-72.25px, 90.25px, 0);
    -ms-transform: translate3d(-72.25px, 90.25px, 0); }
  100% {
    -webkit-transform: translate3d(146.75px, -43.25px, 0);
    transform: translate3d(146.75px, -43.25px, 0);
    -moz-transform: translate3d(146.75px, -43.25px, 0);
    -ms-transform: translate3d(146.75px, -43.25px, 0); } }

/*# sourceMappingURL=all.css.map */
