.scene, .layer{
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


.indexLayer{
  position: relative;
  //padding: rem(73) 0;
  height: inherit;
}
.arrow-list{

  height: inherit;
   img{
     position: absolute;
   }

  .l1_img{
    left: -70px;
    top:0;
  }

  .l2_img{
    left: -96px;
    top: 16.5px;
  }
  .l3_img{

    top : rem(266);
    left: -67px;
  }

  .l4_img{
    top : rem(401);
    left: -72px;
  }

  .l5_img{
    top : 238.5px;
    left: -71px;
  }

  .l6_img{
    bottom : 0px;
    left: -30px;
  }


  .r1_img{
    top : rem(193);
    right: -120px;
  }

  .r2_img{
    top : 156px;
    right: -106px;
  }

  .r3_img{
    bottom: 64px;
    right: -139px;
  }

  .r4_img{
    bottom: 53px;
    right: -115px;
  }
  .r5_img{
    bottom: 38px;
    right: -30px;
  }

}

.font-center{
  position: absolute;
  left: 50%;
  top:50%;
  z-index: 999;
  @include transform(translate(-50% , -50%));
}

.chrysanthemum-front{
  position: absolute;
  top: 7%;
  left: -56px;
}

.chrysanthemum{
  position: absolute;
  bottom: 20%;
  right: -58px;
}

.circle-layer{
  position: absolute;
  bottom: 18%;
  left: 0;
}

.circle-blue{
  position: relative;
}

.circle-red{
  position: absolute;
  top: 7px;
  left: 9px;
}

.rect-img{
  position: absolute;
  right: -40px;
  top: 20px;
}


//红点



@import "second";
@import "third";
@import "four";
@import "five";
@import "six";
@import "seven";