.fourLayer{


  .bs-red-cr{
    position: absolute;
    top: 0;
    left: 0;
  }

  .wg-tree{
    position: absolute;
    left: 0;
    top: 110px;

  }
  .wg-xt{
    position: absolute;
    right: -59px;
    top: 0;
  }

  .bs-point{
    position: absolute;
    top: 34px;
    left: 12px;
  }
}
