
.secondLayer{

  //外层容器
  .big-ring{
    position: absolute;
    top: 50%;
    left: 50%;

    width: rem(620);
    height: rem(620);

    margin-left: rem(-620/2);
    margin-top: rem(-620/2);
  }

  .wrap-ring{
    //@include animation(spin-inverse 5s linear  0s infinite both);
    position: absolute;
    bottom: 1px;
    left: 0;
  }

  .wrap-ring-opacity{
    //@include animation(spin 1s linear  0s infinite both);
    position: absolute;
    bottom: 5px;
    left: 0px;
  }

  .middle-ring-white{
    //@include animation(spin 2s linear  0s infinite both);
    position: absolute;
    left: 0px;
    bottom: 7px;
  }

  .middle-ring-red{
    //@include animation(spin-inverse 4s linear  0s infinite both);
    position: absolute;
    left: 1px;
    bottom: 7px;
  }

  .inner-ring{
    //@include animation(spin-inverse 10s linear  0s infinite both);
    position: absolute;
    left: 1px;
    bottom: 7px;
  }



  .quantong{
    left: 43px;
    top: 83px;
    position: absolute;
  }


  .meteor-01{
    position: absolute;
  }

  .meteor-02{
    position: absolute;
    bottom: -5%;
  }

}
