.sevenLayer{


  .title-style{
    color: #c6effc;
    font-size: rem(50);
    margin-top: rem(60);
    margin-bottom: rem(30);
    text-align: left;
    padding-left: rem(56);

  }



  .job-req{
    margin-top: rem(78);
    margin-bottom: rem(63);
  }


  .light-button-bg{
    line-height: rem(103);
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
  }

  .light-mover{
    position: absolute;
    right: 0;
    top :1px;
  }



}