
.thirdLayer{


  //新手村
  .xinshou{
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -112.5px;
  }

  .ip-puzzle{
    position: absolute;
    bottom: 0px;
    left: 0;

  }

  .puzzle{
    position: absolute;
    top:0;
    right: -94px;
    @include transform(rotate(-30deg));

  }

  .puzzle-layer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -117.5px;
    width: rem(470);
    height: rem(681);
  }

  .point-01{
    position: absolute;
    right: 20px;
    top: 19px;
  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate3d(0,0,0,0deg);
    //transform: rotate(0deg)
  }
  50% {
    //-webkit-transform: rotate(180deg);
    //transform: rotate(180deg)
  }
  100% {
    -webkit-transform: rotate3d(0,0,0,360deg);
    //-webkit-transform: rotate(360deg);
    //transform: rotate(360deg)
  }
}



//@-webkit-keyframes spin-y {
//  0% {
//    -webkit-transform: rotateY(0deg);
//  }
//
//  100% {
//    -webkit-transform: rotateY(360deg);
//  }
//}
//
//@-webkit-keyframes spin-inverse {
//  0% {
//    -webkit-transform: rotateX(360deg)
//  }
//
//  100% {
//    -webkit-transform: rotateX(0deg)
//  }
//}


