//文字主图
.font-base-img{
  background-image: url("../resources/font.png");
  background-size: rem(1160) rem(1160);
}


//想象教育未来
.font-education{
  background-position: rem(-736) rem(-565);
  width: rem(426);
  height: rem(479);
}

//合伙人
.font-people{
  background-position: rem(0) rem(0);
  width:  rem(470);
  height: rem(272);
}

//拜师
.font-baishi{
  background-position: rem(0) rem(-274);
  width:  rem(507);
  height: rem(250);
}

//新手
.font-xinshou{
  background-position: rem(0) rem(-524);
  width:  rem(470);
  height: rem(190);
}

//武功
.font-wugong{
  background-position: rem(0) rem(-714);
  width:  rem(519);
  height: rem(186);
}


//团队介绍

.team-info-img{
  background-position: rem(-752) rem(-1044);
  width: rem(408);
  height: rem(50);
}
.f7{
  width: rem(511);
}

.f7-01{
  background-position: rem(-507) 0;
  height: rem(52);

}

.f7-02{
  background-position: rem(-507) rem(-52);
  height: rem(52);

}

.f7-03{
  background-position: rem(-507) rem(-103);
  height: rem(35);

}

.f7-04{
  background-position: rem(-507) rem(-138);
  height: rem(38);

}


.f7-05{
  background-position: rem(-507) rem(-176);
  height: rem(66);

}
.f7-06{
  background-position: rem(-507) rem(-242);
  height: rem(70);
}

.f7-07{
  background-position: rem(-507) rem(-312);
  height: rem(98);
}

.job-req-img{
  background-position: rem(-507) rem(-410);
  width: rem(512);
  height: rem(155);

}


//人物头像
.font-jiagou{
  background-position: rem(0) rem(-900);
  width: rem(395);
  height: rem(87);
}

.font-data{
  background-position: rem(-395) rem(-1074);
  width: rem(341);
  height: rem(87);
}

.font-yanfa{
  background-position: rem(0) rem(-987);
  width: rem(395);
  height: rem(87);
}

.font-you{
  background-position: rem(0) rem(-1094);
  width: rem(395);
  height: rem(66);
}