//背景
.bg-default{
  background-image: url("../resources/bg-default.jpg");
  height: inherit;
  background-size: cover;
}

//菊花
.chrysanthemum-img{
  background-image: url("../resources/chrysanthemum.png");
  background-size: rem(228) rem(198);

  width: rem(228);
  height: rem(198);
}

//菊花正面
.chrysanthemum-front-img{
  background-image: url("../resources/chrysanthemum-front.png");
  background-size: rem(162) rem(163);

  width: rem(162);
  height: rem(163);
}

//立方体
.rect-img{
  background-image: url("../resources/tran-body.png");
  background-size: rem(171) rem(155);

  width: rem(171);
  height: rem(155);
}

//字体
.font-base{
  background-image: url("../resources/font-base.png");
  background-size: rem(423) rem(476);

  width: rem(423);
  height: rem(476);
}


//字体01
.font-base-01{
    background-image: url("../resources/font-base-01.png");
    background-size: rem(384) rem(250);

    width: rem(384);
    height: rem(250);
}

//字体02
.font-base-02{
  background-image: url("../resources/font-base-02.png");
  background-size: rem(404) rem(302);

  width:  rem(404);
  height: rem(302);
}


//指纹
.point-wen{
  background-image: url("../resources/font-base-01.png");
  background-size: rem(117) rem(164);

  width:  rem(117);
  height: rem(164);
}



//所有图片
.main-img{
  background-image: url("../resources/main.png");
  background-size: rem(1979) rem(2271);
}

//圆环图片
.circle-img{
  background-image: url("../resources/circle.png");
  background-size: rem(2000) rem(1550);
}


//外层圆环
.wrap-ring-img{

  background-position:  rem(-1255) rem(-344);
  width: rem(604);
  height: rem(604);

}

//外层透明圆环
.wrap-ring-opacity-img{
  background-position: rem(-1255) rem(-948);
  width: rem(604);
  height: rem(602);
}


//白色线环
.middle-ring-white-img{
  background-position: rem(-47) rem(-948);
  width: rem(604);
  height: rem(602);
}



//红色img
.middle-ring-red-img{
  background-position: rem(-651) rem(-948);
  width: rem(604);
  height: rem(602);
}



//全通文字
.quantong-font{
  background-position:  0 0;
  width: rem(507);
  height: rem(274);
}

//拜师学艺
.baishi-font{
  background-position: 0 rem(-274);
  width: rem(449);
  height: rem(136);
}

//互动课堂
.hudong-font{
  background-position: 0  rem(-410);
  width: rem(507);
  height: rem(114);

}

//新手
.xinshou-font{
  background-position: 0  rem(-410);
  width: rem(507);
  height: rem(114);
}

//手机
.iphone-puzzle-img{
  background-position: 0  rem(-1157);
  width: rem(470);
  height: rem(681);
}

.puzzle-img{
  background-position: 0  rem(-1860);
}