html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h6,h5,h4,h3,h2,h1{
  margin: 0;
  top: 0;
  font-weight: normal;
}

.hide{
  display: none;
}
.block{
  display: block;
}